<h1>Projects</h1>

<% @project_items.each do |item| %>
  <h3> <%= item.title %> </h3>
  <p> <%= item.description %> </p>
  <p> <%= image_tag item.thumbnail unless item.thumbnail.nil? %> </p>

<% end %>